body {
  font-family: Montserrat;
  padding: 0;
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat;
  line-height: 1.5;
  font-weight: 600;
  color: #e3e3e3;
}
h2, h3 {
    color: rgba(0, 0, 0, 0.763)
}
h2 {
    font-size: max(3vw, 20px);
}
h3 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
/* containers */
.color-section {
    background-color: #ff4c68;
}
.white-section {
    background-color: #fff;
}
.container-fluid {
    padding: 7% 15%;
}

/* header section */
#header .container-fluid {
    padding: 3% 7%;
}
.navbar-brand, .navbar-toggler, .nav-link, .nav-link:not(.nav-link:active) .white-text {
  color: #fff;
}
.navbar-brand {
  font-size: 2rem;
  font-family: Ubuntu;
  font-weight: lighter;
}
.nav-link {
  opacity: 66%;
}
.nav-link:hover {
  opacity: 100%;
  font-size: larger;
}
/* title section */
#title {
  color: #fff;
  position: relative;
}
#title .container-fluid {
  padding: 0 5%;
  height: 500px;
}
.buttons {
  padding-top: 5%;
}
.phone-image {
  transform: rotate(15deg);
  width: 30%;
  position: absolute;
  top: 40px;
  right: 20%;
  animation: slide-down-tilt 1s ease-in-out;
}
@keyframes slide-down-tilt {
  0% {
    transform: translateX(0) translateY(-50%); /* Initial position */
  }
  100% {
    transform: rotate(15deg) translateX(0) translateY(0);
  }
}
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateX(0) translateY(-50%); /* Initial position */
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}
@media (max-width: 992px) {
  #title .container-fluid {
    
    max-width: 70%;
  }
  #title h1 {
    font-size: 30px;
  }
  .phone-image {
    position: relative;
    transform: none;
    animation: slide-down 1s ease-in-out;
    width: 30vw;
    z-index: 1;
    right: 0;
    top: 70px;
    margin: 0 auto;
  }
}
.col-sm-12 img {
  position: relative;
  left: 20%;
}
/* features section */
#features {
  z-index: 1;
  position: relative;
}
#features i {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
#features p {
  margin-bottom: 3rem;
  color: #8f8f8f;
}
.custom-icon {
  font-size: 3rem;
  color: #ef8172;
}
.custom-icon:hover {
  color: #ff4c68;
}

/* testimonial section */
#testimonials {
  background-color: #ef8172;
  color: #fff;
}
#testimonials h2 {
  padding: 5% 15% 0;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.press-logo {
  display: inline-block;
}
.press-logo img {
  width: 10%;
}
/* pricing section */
#pricing {
  padding: 10px;
}
.pricing-column {
  margin: 6% 0;
}
/* cta section */
#cta {
  font-weight: 600;
  
}
#cta h3 {
    margin: 5%;
    color: #fff;
}
/* footer section */
#footer {
  svg {
    margin: 20px 0;
  }
  p {
    opacity: 0.5;
  }
}
